body {
    background-color: slategray;
    background-image: url("../img/dreamdog.jpg");
    background-size: cover;
    margin-top: 10%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.container {
    width: 75%;
    margin: auto;
}

form {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 50%;
    margin: auto;
    box-shadow: -2px 2px 6px black;
    border-radius: 5px;
}

label {
    margin-bottom: 10px;
}

input {
    display: block;
}

textarea {
    margin: 10px 0;
    display: block;
}

button {
    border-radius: 5px;
    background-color: #f8f8f8;
}
