body {
    background-color: #00a885;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.container {
    background-color: white;
    width: 75%;
    margin: auto;
    padding: 2.5em;
}

img {
    width: 100%;
    margin: auto;
    max-width: 400px;
    display: block;
}
