body {
    background-color: slategray;
    margin-top: 10%;
}

.container {
    width: 75%;
    margin: auto;
}

form {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 50%;
    margin: auto;
    box-shadow: -2px 2px 6px #888888;
}

label {
    margin-bottom: 10px;
}

input {
    display: block;
}

textarea {
    margin: 10px 0;
    display: block;
}

button {
    border-radius: 5px;
}
